* {
    box-sizing: border-box;
    outline: none;
}

body {
    font-family: 'BlinkMacSystemFont', 'SF UI Text', 'Lucida Grande', 'Segoe UI', Ubuntu, Cantarell, sans-serif;
    font-size: 11px;
    background: #252525;
    -webkit-font-smoothing: subpixel-antialiased;
}

input, select {
    font-family: 'BlinkMacSystemFont', 'SF UI Text', 'Lucida Grande', 'Segoe UI', Ubuntu, Cantarell, sans-serif;
}
button, input[type=submit] {
    padding: 5px 20px;
    background: none;
    border: 1px solid #ccc;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
    border-radius: 2px;
    min-width: 100px;
    margin: 0 4px;
    color: #666;
}

input[type=radio] {
    display: inline-block;
    margin-right: 5px;
    width: auto!important;
}

.row {
    overflow: hidden;
    padding: 5px;
}

.w2 {
    width: 50%;
    float: left;
    display: inline-block!important;
}

.w3 {
    width: 33%;
    float: left;
    display: inline-block!important;
}

.invalid {
    border: 1px solid #900!important;
}

.colored {
    background: #257fe0!important;
    border: 1px solid #257fe0!important;
    color: #fff!important;
}

.top {
    user-select: none;
    -webkit-app-region: drag;
    height: 38px;
    padding: 0 12px;
    border-bottom: 1px solid rgba(0,0,0,0.05);
}

#menu .top {
    border-bottom: none;
}

#menu .instance {
    padding: 5px 20px;
    font-weight: bold;
    text-shadow: 0 1px rgba(0,0,0,0.3);
    position: sticky;
    top: 0;
}

#menu .instance.red {
    color: #f00;
}
#menu .instance.orange {
    color: #f90;
}
#menu .instance.blue {
    color: #09f;
}
#menu .instance.green {
    color: #0a0;
}
#menu .instance.purple {
    color: #ba00ff;
}

body #menu, body #list, body #workspace {
    position: absolute;
    top: 0;
    bottom: 0;
    overflow: hidden;
}

body #menu {
    color: #fff;
    left: 0px;
    width: 300px;
    user-select: none;
}

.buttons {
    float: right;
}

.button {
    display: inline-block;
    padding: 12px 6px;
    width: 30px;
    text-align: center;
    color: #fff;
    opacity: 0.5;
    transition: all 0.3s;
}

.button:hover {
    opacity: 0.9;
}

.button.active {
    opacity: 1;
    color: #257fe0;
}

body #list {
    left: 300px;
    width: 300px;
    background: #f9f9f9;
    user-select: none;
}

body #list label, body #workspace label {
    display: inline-block;
    line-height: 38px;
    text-align: center;
    color: #999;
    text-shadow: 0 1px 1px #fff;
    margin-right: 20px;
}

body #list label svg, body #workspace label svg {
    margin-right: 5px;
    font-size: 0.8em;
    opacity: 0.5;
    position: relative;
}

body #workspace label svg {
    /* top: -1px; */
}

body #list .content {
    border-right: 1px solid #ddd;
}

body #workspace {
    left: 600px;
    right: 0;
    background: #f9f9f9;
}

body #workspace .actions {
    height: 30px;
    width: 100%;
    border-bottom: 1px solid #eee;
}

body #workspace .container {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 30px;
    overflow: auto;
}

body #workspace .status {
    position: absolute;
    height: 30px;
    left: 0;
    bottom: 0;
    right: 0;
    background: #f9f9f9;
    border-top: 1px solid #ddd;
}

body #workspace .status .details {
    color: #3a3a3a;
    padding: 7px 12px;
    display: inline-block;
}

body #workspace .buttons {
    padding-right: 8px;
}

#workspace .top .buttons {
    display: none;
}

#workspace .top .buttons.terminal, #workspace .top .buttons.table {
    float: left;
}

body #workspace .button {
    color: #000;
}

body #workspace .button.active {
    color: #039203;
}

body #workspace .status .button {
    padding: 7px;
}

#workspace .top .spacer {
    display: inline-block;
    width: 20px;
}

body #menu .content, body #list .content, body #workspace .content {
    position: absolute;
    top: 38px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: auto;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul li {
    padding: 5px 20px 7px 14px;
    cursor: default;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

ul li.seperator {
    padding: 0;
    margin: 5px 12px;
    background: rgba(255,255,255,0.2);
    height: 0.5px;
}

ul li.active {
    background: rgba(255,255,255,0.05);
}

ul li.focussed {
    background: rgba(255,255,255,0.1);
}

ul li i {
    margin-right: 14px;
    color: rgba(255,255,255,0.5);
}

#list ul li.active {
    background: rgba(0,0,0,0.05);
}

#list ul li.focussed {
    background: rgba(0,0,0,0.1);
}

#list ul li i {
    color: rgba(0,0,0,0.3);
    margin-right: 10px;
}

#menu .resize, #list .resize {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 10px;
    cursor: col-resize;
    z-index: 10;
}

#menu .search, #list .search {
    position: relative;
}

#menu .search input, #list .search input {
    margin: 8px;
    padding: 8px 8px 8px 30px;
    border: none;
    background: rgba(0,0,0,0.05);
    width: calc(100% - 16px);
    font-size: 11px;
}

#menu .search span, #list .search span {
    position: absolute;
    display: inline-block;
    padding: 17px 20px;
    color: rgba(255,255,255,0.5);
    font-size: 10px;
}

#list .search span {
    color: rgba(0,0,0,0.5);
}

#menu .search input {
    color: rgba(255,255,255,0.8);
    background: rgba(0,0,0,0.2);
}

table {
    border-collapse: collapse;
    width: 100%;
}

table tr {
    cursor: default;
}

table tr td, table tr th {
    max-width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 5px 10px 7px;
    border-bottom: 1px solid #ededed;
    color: #1a1a1a;
    background: rgba(255,255,255,0.7);
}

table tr th {
    position: sticky;
    top: 0;
    z-index: 2;
    padding: 8px 20px 10px 10px;
    font-weight: 400;
    text-align: left;
    cursor: default;
    user-select: none;
    border-bottom: none;
}

table tr td .has-foreign {
    float: right;
    color: #aaa;
    cursor: pointer;
}

table tr td .has-foreign svg {
    font-size: 13px;
    padding: 2px;
}

table tr td em {
    color: #bbb;
    font-style: normal;
}

table.clickable tbody tr:not(.header):hover {
    background: rgba(0, 0, 0, 0.12);
}

table tr th:after {
    content:'';
    position:absolute;
    left: 0;
    bottom: 0;
    width:100%;
    border-bottom: 1px solid rgba(204, 204, 204, 0.65);
}

table tr th span {
    font-size: 8px;
    position: absolute;
    top: 10px;
    right: 5px;
    padding: 0 10px 0 18px;
    color: #a3acaf;
    width: 10px;
    display: inline-block;
    opacity: 0;
    transition: all 0.3s;
    user-select: none;
}

table tr th:hover span.desc {
    opacity: 1;
}

table tr th.desc span.desc, table tr th.asc span.asc {
    opacity: 1;
}
table tr th.desc:hover span.asc, table tr th.asc:hover span.desc {
    opacity: 1;
}
table tr th.desc:hover span.desc, table tr th.asc:hover span.asc {
    opacity: 0;
}

table tr td.actions, table tr th.actions {
    width:80px;
    text-align: right;
}

table tr td.actions i {
    padding: 3px 5px;
    opacity: 0.5;
}

table tr td.actions i:hover {
    opacity: 1;
}

table.transpose tbody {
    /*display: table;*/
}

table.transpose tr {
    display: table-cell;
}

table.transpose tr.header {
    position: fixed;
}

table tr.first {
    display: none;
    width: 160px;
    min-width: 160px;
}

table.transpose tr.first {
    display: table-cell;
}

table.transpose tr td, table.transpose tr th {
    display: block;
    height: 31px;
    min-width: 100px;
    max-width: 100%;
}

table.transpose tr th {
    left: 0;
    width: 160px;
    min-width: 160px;
    border-right: 1px solid #ededed;
}

table.transpose tr th:after {
    border-bottom: 1px solid #ededed;
}

.table-info table th, .table-info table td {
    border-bottom: 1px solid #ededed;
}

.table-info table th {
    font-weight: bold;
}

.table-info table th:after {
    border: none;
}

#workspace .content .table-info .CodeMirror {
    top: 128px;
    padding: 10px;
    height: auto;
    font-weight: 900;
}

#workspace .content .terminal,
#workspace .content
#editor,
#workspace .content .CodeMirror,
body #workspace .content .editor-container,
#workspace .content .results {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
}

body #workspace .content .editor-container {
    height: 50%;
    bottom: auto;
    border: none;
}

body #workspace .content .CodeMirror {
    height: 100%;
    overflow-x: hidden;
    font-family: "Andale Mono", "Monaco", monospace;
    font-size: 10px;
    line-height: 14px;
    font-weight: 900;
}

body #workspace .content .editor-container .resize {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 5px;
    cursor: row-resize;
    z-index: 5;
}

body #workspace .content .results {
    border-top: 1px solid #ddd;
    height: 50%;
    top: auto;
}

body #workspace .content .filters {
    padding: 8px 10px;
    overflow: hidden;
    background: #fdfdfd;
    display: none;
}

body #workspace .content .filters .query {
    float: left;
}

body #workspace .content .filters .actions {
    float: right;
}

body #workspace .content .filters .select {
    display: inline-block;
    position: relative;
}

body #workspace .content .filters .select select {
    -webkit-appearance: none;
    padding: 4px 28px 5px 8px;
    border: 1px solid #aaa;
    border-radius: 2px;
    background: none;
    min-width: 140px;
    position: relative;
    z-index: 2;
}

body #workspace .content .filters .select i {
    position: absolute;
    right: 0;
    top: 0;
    padding: 7px;
    display: inline-block;
    font-size: 8px;
    z-index: 1;
    border-left: 1px solid #ddd;
}

body #workspace .content input {
    padding: 4px 8px 5px;
    border: 1px solid #aaa;
}

body #workspace .content .filters button.icon, body #workspace .content .filters a.icon {
    padding: 2px 4px;
    width: auto;
    min-width: auto;
    border: none;
}

#search-all {
    background-color: rgba(255,255,255,0.9);
    width: 400px;
    padding: 5px;
    border-radius: 2px;
    position: absolute;
    top: 100px;
    left: calc(50% - 200px);
    z-index: 9;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
}

#search-all input {
    background: rgba(255,255,255,0.6);
    color: #1a1a1a;
    font-size: 12px;
    padding: 5px 10px 6px;
    border: none;
    width: 100%;
    border: 1px solid rgba(0,0,0,0.2);
}

#search-all .results {
    margin-top: 5px;
    max-height: 600px;
    overflow: hidden;
    position: relative;
    overflow-y: auto;
    display: none;
}

#search-all ul {

}

#search-all ul li {
    padding: 5px 8px 7px;
}

#search-all ul li.title {
    text-transform: uppercase;
    padding-left: 5px;
    font-weight: bold;
    color: #aaa;
}

#search-all ul li.title svg {
    margin-right: 6px;
}

#search-all ul li:not(.title):hover {
    background: rgb(217, 221, 224);
    color: #333;
}

#search-all ul li.focussed {
    background: #257fe0;
    color: #fff;
}

#search-all ::-webkit-input-placeholder {
    color: rgba(0,0,0,0.5);
}

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    z-index: 10;
}

#overlay .overlay-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
}

#overlay #modal {
    margin: 100px auto;
    width: 600px;
    max-height: 400px;
    max-height: calc(100% - 200px);
    background: #fff;
    z-index: 110;
    border-radius: 3px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
}

#overlay #modal .title {
    background: #252525;
    padding: 12px 16px;
    text-transform: uppercase;
    color: #fff;
    font-size: 1.05em;
}

#overlay #modal .content {
    padding: 4px 14px 14px;
    overflow-y: auto;
    overflow-x: hidden;
    background: #fcfcfc;
    max-height: calc(100% - 200px);
}

#overlay #modal .content ul {
    padding: 5px 0;
}

#overlay #modal .content ul li {
    white-space: normal;
    padding: 10px 14px;
}

#overlay #modal .content ul li:hover {
    background: rgba(0,0,0,0.2);
}

#overlay #modal .content ul li p {
    overflow: hidden;
    margin: 0;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
#overlay #modal .content ul li p.but {
    text-align: center;
}

#overlay #modal .content label {
    display: block;
    padding: 5px 0;
}

#overlay #modal .content label.color {
    margin: 12px 8px;
}

#overlay #modal .content label span {
    font-weight: bold;
    margin: 0 0 7px;
    display: inline-block;
    color: #333;
    padding: 0 0 0 4px;
}

#overlay #modal .content label input, #overlay #modal .content label textarea {
    border: 1px solid #ccc;
    padding: 4px 10px 5px;
    background: #fff;
}

#overlay #modal .content input, #overlay #modal .content textarea {
    width: 100%;
    max-width: 100%;
}

#overlay #modal .content input[name='color'] {
    background: rgba(255,255,255,0.5);
    -webkit-appearance: none;
    border-radius: 8px;
    border-color: #666;
    width: 16px!important;
    height: 16px!important;
    padding: 0;
    opacity: 0.5;
    vertical-align: middle;
    margin: 0 6px;
}

#overlay #modal .content input[name='color'] {
    background: rgba(255,255,255,0.5);
}

#overlay #modal .content input[name='color']:hover, #overlay #modal .content input[name='color']:checked {
    opacity: 1;
}

#overlay #modal .content input[name='color'].red {
    background: #f00;
}
#overlay #modal .content input[name='color'].orange {
    background: #f90;
}
#overlay #modal .content input[name='color'].blue {
    background: #09f;
}
#overlay #modal .content input[name='color'].green {
    background: #0a0;
}
#overlay #modal .content input[name='color'].purple {
    background: #ba00ff;
}

#overlay #modal .content textarea {
    height: 100px;
}

#overlay #modal .actions {
    padding: 8px 10px;
    background: #f9f9f9;
    border-top: 1px solid #ddd;
    background-color: #f9f9f9;
    text-align: right;
}

#notifications {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    overflow-y: scroll;
    z-index: 1000;
}

#notifications .notification {
    background: #2c2c2c;
    color: #fff;
    width: 400px;
    width: 400px;
    margin: 14px;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
    transition: all 0.5s;
}

#notifications .notification.error {
    background: rgba(170, 0, 0, 0.86);
}

#notifications .notification .title {
    text-transform: uppercase;
    padding: 0 0 8px 0;
}

#notifications .notification .content {
    opacity: 0.8;
}
